@import "tailwindcss";

@theme {
  --color-primary: hsl(var(--pink));
  --background-image-card1: var(--card1);
  --background-image-card2: var(--card2);
}

@layer base {
  :root {
    --pink: 341 97% 61% / 1;
    --card1: linear-gradient(179.93deg, #fc3a79 24.7%, #ff2205 106.83%);
    --card2: linear-gradient(180.17deg, #3d37ed 20.91%, #08e6e6 90.13%);
  }

  html {
    @apply scroll-smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@utility btn-p {
  @apply px-6 py-2 rounded-2xl bg-primary font-medium 
         transition-all duration-300 hover:shadow-[0_0_10px_rgba(139,92,246,0.5)];
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
